body {
	padding-top: 30px;
}

.sidebar {
	padding-top: 30px;
}

.main {
	padding-top: 30px;
}

.navbar-inverse {
	background: #3EAC3E;
}

.dropdown-menu {
	background: #3EAC3E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #000000;
}

.navbar-inverse .navbar-nav>li>a {
	color: #000000;
}

.navbar-inverse .navbar-brand {
	color: #000000;
}