// Customized CSS for our changes to the base style sheet
// In an ideal world, this file remains empty.

#topimage {
	width: 100%;
	height: 100px;
	background: url(images/banner-large.jpg);
	background-size: cover;
}

#content {
	z-index: -200;
}
